#image {
  margin-bottom: auto;
  width: 37%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

header {
  border-bottom-style: solid;
}

#plot {
  text-align: center;
}

#year {
  text-align: center;
}

footer {
  border-top-style: solid;
}
